<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Quantico:ital@1&family=Titillium+Web&display=swap"
        rel="stylesheet">
    <link href="{{url_for('static',filename='css/supdates.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{url_for('static',filename='js/favorites.js')}}"></script>
    <script type="text/javascript">
        myVar = myFunc({{ data | tojson | safe }}) // SUPER COOL JSON data pass from flask to js
    </script>
    <title>{{session.first_name}}'s Piqs</title>
</head>

<body class="d-flex justify-content-evenly row mx-4">
    <div class="d-flex justify-content-between">
        <h1>{{session.first_name}}'s Piqs</h1>
        <div class="">
            <a href="/plan" class="btn btn-outline-info btn-sm me-3">Get Plan</a>
            <a href="/random" class="btn btn-outline-warning btn-sm me-3">Get Random</a>
            <a href="/logout" class="btn btn-outline-danger btn-sm">Logout</a>
        </div>
    </div>
    {% if data %}
    <table class="table text-center">
        <thead class="">
            <tr>
                <th class="border text-light">Recipe Name</th>
                <th class="border text-light">Cooktime</th>
                <th class="border text-light">Summary</th>
            </tr>
        </thead>
        <tbody class="border text-light" id="row">
            
        </tbody>
    </table>
    {% endif %}
    <h5 class="text-center text-light" id="nada">Loading Favorites... hang tight love.<br>You have may not have made Piqs yet!<br>Go forth and Piq some recipe so that you might Savor the recipe!</h5>
</body>

</html>