<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Quantico:ital@1&family=Titillium+Web&display=swap"
        rel="stylesheet">
    <link href="{{url_for('static',filename='/supdates.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{url_for('static',filename='js/showOne.js')}}"></script>
    <script type="text/javascript" defer>
        myVar = myFunc({{ data | tojson | safe }})
    </script>
    <title>Current Piq</title>
</head>

<body class="m-5">
    <div class="m-1 d-flex justify-content-between">
        <h1>Prep Time!</h1>
        <div class="d-flex justify-content-evenly align-items-center">
            <a href="/plan" class="btn btn-outline-success btn-sm me-3">Get Plan</a>
            <a href="/random" class="btn btn-outline-warning btn-sm me-3">Get Random</a>
            <a href="/favorites" class="btn btn-outline-info btn-sm me-3">{{session['first_name']}}'s Piqs</a>
            <a href="/logout" class="btn btn-outline-danger btn-sm">Logout</a>
        </div>
    </div>
    <h1 class="text-center">piqr<img src="static/imgs/hungry.png" alt="icon by winnievinzence" style="height:30px; filter: invert(1);"></h1>

    <div class="" id="results">
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

</html>