        body {
            font-family: 'Mochiy Pop One', sans-serif;
            min-height: 75rem;
            padding-top: 1rem;
            color: whitesmoke;
            background-color: #212429;
        }

        h1{
            font-family: 'Quantico', sans-serif;
            color: whitesmoke;
        }
        
        h6{
            font-family: 'Titillium Web', sans-serif;
            opacity: 50%;
            color: whitesmoke;
        }

        h2,
        h3,
        h4,
        h5 {
            font-family: 'Mochiy Pop One', sans-serif;;
            color: whitesmoke;
        }
        
        #instr p {
            color: black;
        }
        
        p {
            font-size: 18px;
            font-family: 'Titillium Web', sans-serif;
            color: whitesmoke;
        }
        
        .rocksalt {
            font-family: 'Rock Salt';
        }

        #logo{
            font-size: 600%;
        }
        .logoBlock > h1,
        .logoBlock{
            font-size: 230%;
            font-family: 'Quantico', sans-serif;
        }
        .bubble{
            height: 9%;
            filter: invert(1); 
            position: absolute; 
            top: 10%;
            left: 57%;
        }
        #regisLogo{
            left: 210px;
            top:40px;
        }

        #slogan{
            margin-bottom: -2%;
            font-family: 'Rock Salt';
        }

        #icons{
            margin-top: -1%;
        }

        #hungry,
        #idea,
        #coin{
            width: 5%;
            filter:invert(1);
            opacity: 50%;
        }

        #coin {
            transform: rotate(20deg);
        }
        small {
            font-size:60%;
        }